h1{
  color: brown;
  font-size: 30px;
  
}
h3{
  color: cornflowerblue;
  font-family: 'Times New Roman', Times, serif;
}
.btn{
  width: 100px;
}
.link a :hover{
  background-color: crimson;
} 
#header{
  color: chocolate;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#header2{
  text-shadow: 2px 2px
}